<%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= button_tag type: "submit", class: "btn btn-success btn-block" do %>

    <span class="fa fa-plus-circle"></span>Follow
  <% end %>
<% end %>
