<% @users.each do |user| %>
  <div class="row">
    <div class="col-lg-5">
      <div class="media">
        <%= link_to user_path(user), class: 'pull-left' do %>
          <%= image_tag @user_images.find_by(user_id:user).image.thumb.url, class: 'media-object dp img-circle', style: 'width: 100px;height:100px;' if @user_images.find_by(user_id:user).present? %>
        <% end %>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to user.name, user_path(user) %><small> </small></h4>
          <h5>Software Developer at <a href="http://gridle.in">Gridle.in</a></h5>
          <hr style="margin:8px auto">

          <span class="label label-default">HTML5/CSS3</span>
          <span class="label label-default">jQuery</span>
          <span class="label label-info">CakePHP</span>
          <span class="label label-default">Android</span>
        </div>
      </div>
    </div>
  </div>
<% end %>
