<% unless user_signed_in? %>
  <div id="movie">
    <h2 id="overlay">
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
       <i class="fa fa-power-off"></i> Sign in with Facebook
     <% end %>
    </h2>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </div>
<% end %>
